.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login img{
    border-radius: 50px;
    margin: 20px;
}

a{
    background: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}